{% extends 'base.html' %}

{% block content %}

<div class="container">
           <h2 class="text-center mb-4" style="color: white;">Últimas publicaciones</h2>
            
            <div class="row" style="padding-left: 350px;">
                {% for perfil in perfiles_of_users %}
                    
               
                    <div class="col-sm-4 mb-4">
                        <div class="card" style="background-color: rgb(103, 105, 105);">
                            <img class="card-img-top" src="{{perfil.avatar.url}}" alt="" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                            <h6 style="color: white;">Name: {{perfil.user.username}} </h6>
                              <h6 style="color: white;">Apodo {{perfil.apodo}} </h6>
                                <h5 class="card-title" style="color: white;"></h5>
                                <p class="card-text" style="color: white;"></p>
                                <p>
                                
                                </p>
                               
                            
                                
                            <!-- {% if sigue_usuario %}
                                <a href="{% url 'users:follower' id=usuario.id %}" class="btn btn-primary">Dejar de seguir</a> <p>seguidores: {{perfil.user.seguidores.count}}</p>
                            {% else %}
                                <a href="{% url 'users:follower' id=perfil.user.id %}" class="btn btn-primary">Seguir</a> <p>seguidores: {{perfil.user.seguidores.count}}</p>
                            {% endif %}
                             -->

                             {% if sigue_usuario %}
                                    <a href="{% url 'users:follower' id=perfil.user.id %}" class="btn btn-primary">Dejar de seguir</a> <p>seguidores: {{perfil.user.seguidores.count}}</p>
                                {% else %}
                                    <a href="{% url 'users:follower' id=perfil.user.id %}" class="btn btn-primary">Seguir</a> <p>seguidores: {{perfil.user.seguidores.count}}</p>
                                {% endif %}

                                
                                
                            </div>
                        </div>
                    </div>
                    
             {% endfor %}
            </div>
        </div>

{% endblock %}